# Created by venv; see https://docs.python.org/3/library/venv.html


/.ipynb_checkpoints/**
/__pycache__/**
/etc/**
/Include/**
/Lib/**
/Scripts/**
/share/**
pyvenv.cfg
Models/Body/SEG/model.pth
Models/Body/SKL/model.pth
Models/Body/__pycache__/**